.content-meta {
  margin-top: 0;
  color: var(--darkgray);
  
  time, span {
    font-family: var(--codeFont);
  }

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
