// @use "./base.scss";
// put your custom CSS here!

@import url("https://fonts-1317142608.cos.ap-nanjing.myqcloud.com/sarasa-mono-sc-regular-nerd-font/result.css");

:root {
    --codeFont: "Sarasa Mono SC Nerd Font" !important;
}

// Import custom fonts from separate file
// @use "./local.google.fonts.css";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// mathjax
mjx-container.MathJax[jax="SVG"][display="true"] {
    display: flex ;
    justify-content: center ;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
