@use "./base.scss";
// put your custom CSS here!
@use "./fonts/sarasa-mono-sc-regular-nerd-font.css";
@use "./fonts/LXGWNeoZhiSong.css";
@use "./fonts/LXGWNeoXiHei.css";
@use "./fonts/CangErYuYangTiW02.css";

@font-face {
    font-family: "Symbols Nerd Font Mono";
    src: url('../static/fonts/SymbolsNerdFont-Regular.woff2') format('woff2');
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Iosevka Nerd Font Mono";
    src: url('../static/fonts/IosevkaNerdFontMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Iosevka Nerd Font";
    src: url('../static/fonts/IosevkaNerdFont-Regular.woff2') format('woff2');
    font-style: normal;
    font-display:swap;
}
@font-face {
  font-family: "Ysabeau SC";
  src: url('../static/fonts/YsabeauSC-Regular.woff2') format('woff2');
  font-style: normal;
  font-display:swap;
}

:root {
  --font-size-medium: 14px;
  --font-size-large: 16px;

  --UIFont: "LXGW Neo XiHei";
  --codeFont: "Iosevka Nerd Font Mono", "LXGW Neo XiHei" !important;
  --headerFont: "Ysabeau SC", "TsangerYuYangT W02" !important;
  --bodyFont: "LXGW Neo ZhiSong" !important;
}

.page {
  max-width: 100%;
}

.page-title{
  font-size: 1.25em;
  margin-bottom: 1em;
}

.page>#quartz-body .sidebar{
  gap: unset;
  padding: 6em 1.5em 0em 1.5em;
  & .left {
    right: calc(50vw - 727px)
  }
  & .right {
    right: calc(50vw - 727px)
  }
}

.page>#quartz-body .center, .page>#quartz-body footer {
  width: 720px;
  min-width: unset;
}

.page>#quartz-body .page-header {
  margin: 6rem 0 0;
}

.page>#quartz-body footer {
  font-family: var(--codeFont);
  font-size: var(--font-size-large);
}

.breadcrumb-container {
  font-family: var(--UIFont);
  font-size: var(--font-size-large);
}

.article-title {
  margin: 1rem 0 0;
}

.content-meta {
  font-family: var(--codeFont);    
  font-size: var(--font-size-medium);
  letter-spacing: 0.02em; 
  // color: var(--secondary);
  margin-bottom: 0rem;
  .update-icon {
    stroke-width: 1.5;
    color: var(--tertiary);
  }
}

.tags {
  margin-top: .2rem;
  margin-bottom: 1.2rem;
  font-family: var(--codeFont);
  font-size: var(--font-size-large);
}

sup .internet {
  background-color: transparent;
  padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// mathjax
mjx-container.MathJax[jax="SVG"][display="true"] {
    display: flex ;
    justify-content: center ;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

/* Adjust explorer */
.explorer{
  margin: 2em 0 1em;
}
.explorer-content{
  margin-top: 1rem;
  font-size: var(--font-size-large);
}
.folder-container div>a {
  // font-family: "Iosevka Nerd Font", "LXGW Neo XiHei";
  font-size: var(--font-size-large);
}
div#explorer-content>ul {
  margin-top: .75em;
}
div#explorer-content ul li {
  margin-bottom: .75em;
}

/* Adjust overall font size for recent notes section */
.recent-notes {  
  margin: 2em 0 1rem;
  & > h3 {
    font-size: var(--font-size-large);
  }
  & > ul.recent-ul {
    margin-top: 1rem;
    li { 
      margin: .75em 0;
      .section {
        & > .desc > h3 > a{
          font-size: var(--font-size-large);
          padding: 0;
        }
        & > .meta {
          font-family: var(--codeFont);
          font-size: var(--font-size-medium);
          margin: 0;
          color: var(--grey);
        }
      }
    }
  }
}

// Adjust Outline
button.toc-header { 
  margen: .5em 0;
  & h3 {
    font-size: var(--font-size-large);
  }
  & ul {
    margin: 1rem 0;
  }
  & .fold {
    opacity: .6;
  } 
}
.toc-content {
  font-size: var(--font-size-large);
  margin: .75em 0;
  // font-family: "LXGW Neo XiHei";
}

div.graph {
  margin-bottom: 2.875em;
}
