@use "./base.scss";
// put your custom CSS here!
@use "./fonts/sarasa-mono-sc-regular-nerd-font.css";
@use "./fonts/LXGWNeoZhiSong.css";
@use "./fonts/LXGWNeoXiHei.css";

@font-face {
    font-family: "Symbols Nerd Font Mono";
    src: url('../static/fonts/SymbolsNerdFont-Regular.woff2') format('woff2');
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "Iosevka Nerd Font Mono";
    src: url('../static/fonts/IosevkaNerdFontMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-display:swap;
}

// :root {
//     --codeFont: "Sarasa Mono SC Nerd Font" !important;
// }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// mathjax
mjx-container.MathJax[jax="SVG"][display="true"] {
    display: flex ;
    justify-content: center ;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

.content-meta {
    // Font family
    font-family: "Symbols Nerd Font Mono", "LXGW Neo XiHei";
    
    // Font size
    font-size: 0.8rem;

    // Letter spacing
    letter-spacing: 0.02em;
    
    // You can also customize the color further
    // color: var(--secondary);
    
    // Or add other styles
    margin-bottom: 2rem;
    
    // You can also style the update icon specifically
    .update-icon {
      stroke-width: 1.5;
      color: var(--tertiary);
    }
  }

/* Adjust overall font size for recent notes section */
.recent-notes {
  font-size: 0.9rem; /* Set base font size for the entire component */

  li .section > .meta {
    font-family: "Symbols Nerd Font Mono", "LXGW Neo XiHei"; /* Change the font family */
    font-size: 0.9rem; /* Adjust font size */
    // color: #666; /* Change text color */
    // font-style: italic; /* Make it italic if desired */
    // font-weight: 300; /* Lighter font weight */
    /* Add any other font-related properties you want to modify */
  }
}
