/* 导入中文字体 */
@font-face {
    font-family: "LXGW Neo Zhi Song";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../static/fonts/LXGWNeoZhiSong.woff2') format("woff2");
  };

@font-face {
    font-family: "Sarasa Mono SC Nerd Font";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../static/fonts/sarasa-mono-sc-regular-nerd-font.woff2') format("woff2");
};